<div>
  <h4 class="sub-title">Welcome back!</h4>
  <h3>Login to your account</h3>
</div>

<form [formGroup]="resetPasswordForm" class="d-flex flex-column my-4">
  <div class="form-group">
    <mat-label>E-mail</mat-label>

    <mat-form-field appearance="outline">
      <input matInput placeholder="Enter your email" formControlName="email" />
    </mat-form-field>
    <ng-container
      *ngIf="
        resetPasswordForm.controls.email.touched &&
        resetPasswordForm.controls.email.errors
      "
    >
      <ng-container
        [ngSwitch]="resetPasswordForm.controls.email | errorMessages"
      >
        <mat-error *ngSwitchCase="'required'">Email is required</mat-error>
        <mat-error *ngSwitchCase="'email'">Enter valid email</mat-error>
      </ng-container>
    </ng-container>
  </div>

  <div class="form-group">
    <mat-label>OTP</mat-label>

    <mat-form-field appearance="outline">
      <input matInput placeholder="Enter your otp" formControlName="otp" />
    </mat-form-field>
    <ng-container
      *ngIf="
        resetPasswordForm.controls.otp.touched &&
        resetPasswordForm.controls.otp.errors
      "
    >
      <ng-container [ngSwitch]="resetPasswordForm.controls.otp | errorMessages">
        <mat-error *ngSwitchCase="'required'">OTP is required</mat-error>
        <mat-error *ngSwitchCase="'pattern'"
          >OTP must contain only numbers</mat-error
        >
      </ng-container>
    </ng-container>
  </div>

  <div class="form-group">
    <mat-label>Password</mat-label>

    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="Enter your password"
        formControlName="password"
      />
    </mat-form-field>

    <ng-container
      *ngIf="
        resetPasswordForm.controls.password.touched &&
        resetPasswordForm.controls.password.errors
      "
    >
      <ng-container
        [ngSwitch]="resetPasswordForm.controls.password | errorMessages"
      >
        <mat-error *ngSwitchCase="'required'">Password is required</mat-error>
        <mat-error *ngSwitchCase="'minlength'"
          >Password should be at least 4 characters</mat-error
        >
        <mat-error *ngSwitchCase="'pattern'"
          >Password should contain at least 1 lowercase 1 uppercase 1 number and
          1 special character</mat-error
        >
      </ng-container></ng-container
    >
  </div>

  <div class="d-flex justify-content-end">
    <a class="link-primary" [routerLink]="'../forget-password'"
      >Forget Password</a
    >
  </div>
</form>

<div class="d-flex flex-column">
  <button (click)="submit()" mat-flat-button class="mb-2 btn-primary">
    Submit
  </button>
</div>
