<div>
  <h4 class="sub-title">Welcome back!</h4>
  <h3>Login to your account</h3>
</div>

<form [formGroup]="loginForm" class="my-4 row">
  <div class="col-12 form-group">
    <mat-label>E-mail</mat-label>

    <mat-form-field appearance="outline">
      <input matInput placeholder="Enter your email" formControlName="email" />
    </mat-form-field>
    <ng-container
      *ngIf="
        loginForm.controls.email.touched && loginForm.controls.email.errors
      "
    >
      <ng-container [ngSwitch]="loginForm.controls.email | errorMessages">
        <mat-error *ngSwitchCase="'required'">Email is required</mat-error>
        <mat-error *ngSwitchCase="'email'">Enter valid email</mat-error>
      </ng-container>
    </ng-container>
  </div>

  <div class="col-12 form-group">
    <mat-label>Password</mat-label>

    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="Enter your password"
        formControlName="password"
      />
    </mat-form-field>

    <ng-container
      *ngIf="
        loginForm.controls.password.touched &&
        loginForm.controls.password.errors
      "
    >
      <ng-container [ngSwitch]="loginForm.controls.password | errorMessages">
        <mat-error *ngSwitchCase="'required'">Password is required</mat-error>
        <mat-error *ngSwitchCase="'minlength'"
          >Password should be at least 4 characters</mat-error
        >
        <mat-error
          *ngSwitchCase="'pattern'"
          >Password should contain at least 1 lowercase 1 uppercase 1 number and
          1 special character</mat-error
        >
      </ng-container></ng-container
    >
  </div>

  <div class="d-flex justify-content-end">
    <a class="link-primary" [routerLink]="'../forget-password'"
      >Forget Password</a
    >
  </div>
</form>

<div class="d-flex flex-column">
  <button (click)="submitLogin()" mat-flat-button class="mb-2 btn-primary">
    Login
  </button>
  <button
    routerLink="../register"
    mat-stroked-button
    class="btn-outline-primary"
  >
    Register
  </button>
</div>
