<app-books-banner></app-books-banner>

<div class="p-5">
  <!-- <mat-label>Home - Shop</mat-label> -->

  <div
    *ngIf="isLoading; else showBooks"
    class="d-flex justify-content-center align-items-center"
  >
    <mat-spinner></mat-spinner>
  </div>

  <ng-template #showBooks>
    <div class="row mx-0">
      <div class="col-3">
        <app-books-filter (filter)="filter($event)"></app-books-filter>
      </div>
      <div class="col-9 row mx-0">
        <div
          *ngIf="!length; else booksList"
          class="d-flex justify-content-center align-items-center"
        >
          <h3>No books found</h3>
        </div>

        <ng-template #booksList>
          <app-book-card
            *ngFor="
              let book of filteredBooks
                | slice : pageIndex * pageSize : pageIndex * pageSize + pageSize
            "
            class="col-md-3"
            [book]="book"
            imgSrc="./../../../../assets/images/book1.jpg"
          ></app-book-card>
        </ng-template>
      </div>
    </div>

    <app-books-list-pagination
      *ngIf="filteredBooks.length"
      [length]="length"
      [pageSize]="pageSize"
      (pageIndexEmitter)="getPageIndex($event)"
    ></app-books-list-pagination>
  </ng-template>
</div>
