<div class="container py-5">
  <div class="row mx-0 justify-content-around align-items-center">
    <div class="col-md-6">
      <img
        src="../../../../../../assets/images/about-us-1.jpg"
        class="img-fluid rounded-circle"
      />
    </div>
    <div class="col-md-5">
      <h1 class="mb-0">hello.</h1>
      <h2 class="mb-4">I'm Gloria Reynolds</h2>
      <p>
        See the latest and upcoming events organized by us. A festival is an
        event ordinarily celebrated by a community and centering on some
        characteristic aspect of that community.
      </p>
    </div>

    <div class="col-12">
      <app-wisdom
        wisdom="You usually have to wait for that which is worth waiting for."
        teller="CRAIG BRUCE"
      ></app-wisdom>
    </div>
  </div>
</div>
