h4 {
  color: #222;
  font-size: 20px !important;
  font-family: Fanwood !important;
}

img {
  position: absolute;
  top: -100%;
  left: 0;

  width: 100px;
  height: 42px;

  transform: translate(-10%, 50%);
}

ul {
  list-style-type: none;
  padding: 0 !important;
}

li {
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--mint-color);
  }
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

@media (max-width: 767px) {
  img {
    display: none;
  }
}
