<div class="bg-white pt-5 pb-3 border">
  <div class="container py-2">
    <div class="row mx-0 justify-content-between">
      <div class="col-md-3 mx-auto">
        <h2 class="position-relative">
          Books

          <img src="../../../../../../assets/images/footer.png" />
        </h2>
        <p>
          Books is a modern and flexible <strong>WordPress</strong> theme for
          book writers and authors.
        </p>
        <p>
          It features <strong>Ecommerce</strong> support, Elementor page
          builder.
        </p>
      </div>

      <div class="col-md-9 d-flex justify-content-around">
        <div>
          <h4 class="mb-4">Pages</h4>
          <ul>
            <li>About</li>
            <li>Contact</li>
            <li>Privacy Policy</li>
            <li>Terms & Conditions</li>
            <li>FAQs</li>
          </ul>
        </div>
        <div>
          <h4>Newsletter</h4>
          <mat-form-field>
            <input
              matInput
              formControlName="name"
              placeholder="your email address"
            />
          </mat-form-field>
          <button class="d-block btn px-5 py-3 btn-dark">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
