<div class="empty-cart">
  <img width="110px" src="../../../../assets/images/empty-cart.svg" />
  <h3 class="my-3 empty-cart__title">Your cart is currently empty</h3>
  <p class="empty-cart__paragraph">
    Before proceed to checkout you must add some products to your shopping cart.
    You will find a lot of interesting products on our "Shop" page.
  </p>
  <button
    class="btn btn-lg btn-primary btn-primary-hover btn-rounded-x mt-4"
    [routerLink]="'/shop'"
  >
    Start Shopping
  </button>
</div>
