.auth-container {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../../../assets/images/auth.webp");

  background-size: 100% 100%;
  width: 100%;
  min-height: 100vh;
}

.sub-title {
  color: #09093799;

  font-family: Quicksand-Medium;
}
