.banner {
  background: url("../../../../../../assets/images/home_1.jpg");
  background-size: cover;
  background-position-y: -120px;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  align-items: center;

  img {
    position: absolute;
    top: -12px;
    right: -10px;

    max-width: 121px;
  }
}
