<div class="banner mh-vh-100">
  <div class="position-relative overflow-hidden bg-white p-5">
    <img src="../../../../../assets/images/leaf.png" />

    <div class="pt-5" @slideIn>
      <h1>Hello</h1>
      <h1>It's <span class="text-primary">E-Book</span></h1>

      <h6>GET THE LATEST BESTSELLERS</h6>

      <p class="mt-4">
        Leona is a modern and flexible <strong>WordPress</strong> <br />
        theme for <strong>book writers</strong> and authors, featuring<br />
        WooCommerce support
      </p>
    </div>
  </div>
</div>
