.counter {
  &__value {
    font-size: 26px !important;
    font-weight: 600;

    color: #7a7a7a !important;
  }

  &__control {
    font-size: 20px;
    font-weight: 600 !important;

    width: 20px;
    height: 20px;

    color: #a2a2a2;

    display: block;
  }
}

@media (max-width: 600px) {
  .cart-item-counter {
    justify-content: center !important;
  }

  .counter__value {
    font-size: 20px !important;
  }

  .counter__control {
    font-size: 19px;
  }
}
