.mat-expansion-panel {
  box-shadow: none !important;
}
.mat-expansion-panel-header:hover,
.mat-expansion-panel-header.mat-expansion-panel-expanded {
  background-color: antiquewhite !important;
}

.mat-expansion-panel-body {
  padding-top: 16px !important;
}
