<div class="new-books pt-5 pb-2">
  <app-wisdom
    wisdom="Every day is a journey and the journey itself is home."
    teller="MATSU BASHIO"
  ></app-wisdom>

  <div class="my-5 px-4 row mx-0">
    <div class="col-lg-6">
      <div class="row mx-0">
        <div class="col-md-4 text-center" *ngFor="let book of newBooks">
          <app-book-card [book]="book" [imgSrc]="book.imgSrc ?? ''" />
        </div>
      </div>
    </div>

    <div class="col-lg-6 px-5">
      <mat-label> Hand Picked Additions.</mat-label>
      <h2 class="mt-3 mb-5">
        Newest Books in <br />
        Our Library
      </h2>
      <p>
        Its a neighborly day in this beautywood a neighborly day for a beauty.
        Would you be mine? Could you be mine. So get a witch’s shawl on a
        broomstick you can crawl on. Were gonna pay a call on the Addams Family?
        Michael Knight a young loner on a crusade to champion the cause of the
        innocent.
      </p>

      <label class="px-0 pb-1 underline-label" [routerLink]="'/shop'">
        View All Books
      </label>
    </div>
  </div>
</div>
