.book-simple-card {
  background-color: transparent !important;

  box-shadow: none !important;

  cursor: pointer;

  img {
    position: relative;

    bottom: 0;

    transition: box-shadow 0s 0s, bottom 500ms 50ms, transform 500ms 550ms;

    &:hover {
      bottom: 10px;
      transform: rotate3d(0, 1, 0, 25deg);
      box-shadow: -25px 0 25px -20px black;
    }
  }

  a {
    color: #222;

    font-family: Quicksand-Bold;
    font-size: 14px;
    font-weight: 700;

    text-transform: uppercase;
  }
}
