<h3>Forget password !!</h3>

<form [formGroup]="forgetPasswordForm" class="d-flex flex-column mt-4 mb-1">
  <div class="form-group">
    <mat-label>E-mail</mat-label>

    <mat-form-field appearance="outline">
      <input matInput placeholder="Enter your email" formControlName="email" />
    </mat-form-field>
    <ng-container
      *ngIf="
        forgetPasswordForm.controls.email.touched &&
        forgetPasswordForm.controls.email.errors
      "
    >
      <ng-container
        [ngSwitch]="forgetPasswordForm.controls.email | errorMessages"
      >
        <mat-error *ngSwitchCase="'required'">Email is required</mat-error>
        <mat-error *ngSwitchCase="'email'">Enter valid email</mat-error>
      </ng-container>
    </ng-container>
  </div>
</form>

<div class="d-flex flex-column">
  <button (click)="submit()" mat-flat-button class="btn-primary">Send</button>
</div>
