.banner {
  background: url("../../../../../../assets/images/auth.webp");
  background-size: 100% 100%;
  background-position-y: -120px;
  background-repeat: no-repeat;
  background-attachment: fixed;

  min-height: 70vh;

  display: flex;
  align-items: center;

  * {
    color: white !important;
  }

  h1 {
    position: relative;

    &::after {
      position: absolute;
      content: "";

      bottom: -7px;
      left: 0;
      width: 60px;

      border: 1px solid #39baaf;
    }
  }
}
