.woocommerce-cart .woocommerce {
  margin-bottom: 80px;
}

.woocommerce table.shop_table {
  border-collapse: collapse;
}

.woocommerce table.shop_table {
  table-layout: fixed;
  border: none;
  margin-bottom: 1.8em;
  width: 100%;
  border-spacing: 0;
  background-color: #fff;
  box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, 0.25);
}

tr {
  border-bottom: 1px solid #eaeaea;
}

th {
  padding: 30px;
  border-top: none;
  border-left: none;
  border-right: 1px solid #eaeaea;
  border-bottom: none;
  font-weight: 700;
  vertical-align: middle;
}

td {
  display: table-cell;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  font-weight: 400;
  padding: 30px;
  font-size: 100%;
  text-align: left;
  vertical-align: middle;

  img {
    height: 140px;
  }
}

.woocommerce table.cart.shop_table td.product-remove {
  mat-icon {
    font-size: 20px;
    font-weight: 900 !important;
  }
}

.woocommerce table.cart.shop_table td.product-thumbnail {
  width: 100px;
  padding: 20px;

  min-width: 32px;
}

.amount {
  color: #7a7a7a;
}

.product-name {
  font-weight: 900 !important;
  color: #484848 !important;
  font-size: 16px !important;
}

.delete-spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 997px) {
  thead {
    display: none;
  }

  td {
    padding: 30px 10px !important;
    text-align: left;
    width: 20%;
  }
}

@media (max-width: 767px) {
  .cart-collaterals {
    flex-direction: column-reverse !important;
  }
}

@media (max-width: 600px) {
  .product-price,
  .cart.shop_table td.product-thumbnail {
    display: none;
  }

  .product-name {
    width: 35%;
  }

  .product-subtotal {
    width: 20%;
    text-align: end;
  }

  .product-quantity {
    width: 40%;
  }

  .product-remove {
    width: 35px;
  }
}

.back-button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
}

.back-button:hover {
  color: #3f51b5;
}

.back-icon {
  margin-right: 8px;
  transition: transform 0.3s ease;
  font-size: 30px;
}

.back-button:hover .back-icon {
  transform: translateX(-5px); /* Move the icon to the left on hover */
}
