@font-face {
  font-family: "Quicksand";
  src: url("../fonts/quicksand/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "Quicksand-Medium";
  src: url("../fonts/quicksand/Quicksand-Medium.ttf");
}

@font-face {
  font-family: "Quicksand-SemiBold";
  src: url("../fonts/quicksand/Quicksand-SemiBold.ttf");
}

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../fonts/quicksand/Quicksand-Bold.ttf");
}

@font-face {
  font-family: "Fanwood";
  src: url("../fonts/fanwood-text/FanwoodText-Regular.ttf");
}

@font-face {
  font-family: "Fanwood-Italic";
  src: url("../fonts/fanwood-text/FanwoodText-Italic.ttf");
}