<mat-toolbar id="navbar" class="px-5 py-3 navbar">
  <mat-toolbar-row class="px-0 row-container justify-content-between">
    <h2 class="col-lg-3 col-xl-6 navbar__logo">E-Book</h2>

    <div class="col-lg-9 col-xl-6 navbar__routes">
      <span
        *ngFor="let tab of navTabs"
        [routerLink]="[tab.routeTo]"
        [navigateTo]="tab.routeTo"
        [appHandleActiveRoute]="'active'"
        class="space-between-tabs bg-transparent"
      >
        {{ tab.title }}
      </span>

      <div class="vertical_divider"></div>

      <button
        class="authentication_dropdown space-between-tabs"
        mat-icon-button
        [matMenuTriggerFor]="menu"
      >
        <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon>
        <mat-icon fontSet="material-icons-outlined">arrow_drop_down</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button
          (click)="login()"
          mat-menu-item
          *ngIf="!isLoggedInUser; else logoutOption"
        >
          Login
        </button>
        <ng-template #logoutOption>
          <button (click)="openDialog()" mat-menu-item *ngIf="isLoggedInUser">
            Logout
          </button>
        </ng-template>
      </mat-menu>

      <button
        *ngIf="isLoggedInUser"
        routerLink="/cart"
        class="space-between-tabs"
        mat-icon-button
      >
        <span [matBadge]="totalCartItems">
          <mat-icon fontSet="material-icons-outlined">shopping_cart</mat-icon>
        </span>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #logoutModal>
  <app-logout-modal (closeModal)="closeModal($event)"></app-logout-modal>
</ng-template>
