.navbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000000;
  position: fixed;

  color: white;
  background-color: transparent;

  &__logo {
    font-size: 45px;
    font-family: Fanwood-Italic;
    font-weight: 500;

    color: #9ea061;
  }

  &__routes {
    span {
      font-size: 17px;
      font-weight: 600;

      position: relative;
      transition: color 0.3s;

      cursor: pointer;

      &:hover,
      &.active {
        color: #f66e5e;
      }

      &::after,
      &.active::after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -10px;
        left: 0%;
        background-color: #f66e5e;
        transition: width 0.4s ease;
      }

      &:hover::after,
      &.active::after {
        width: 30px;
      }
    }
  }
}

.defaultNavbar {
  color: #484848;
  background-color: white;
}
