<mat-toolbar id="navbar" class="px-5 py-3 navbar">
  <mat-toolbar-row class="px-0 row-container justify-content-between">
    <h2 class="col-lg-3 col-xl-6 navbar__logo">E-Book</h2>

    <div class="col-lg-9 col-xl-6 navbar__routes">
      <span
        *ngFor="let tab of navTabs"
        [routerLink]="[tab.routeTo]"
        [navigateTo]="tab.routeTo"
        [appHandleActiveRoute]="'active'"
        class="space-between-tabs bg-transparent"
      >
        {{ tab.title }}
      </span>

      <div class="vertical_divider"></div>

      <button
        class="authentication_dropdown space-between-tabs"
        mat-icon-button
        [matMenuTriggerFor]="menu"
      >
        <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon>
        <mat-icon fontSet="material-icons-outlined">arrow_drop_down</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button (click)="login()" mat-menu-item *ngIf="!isLoggedInUser">
          Login
        </button>
        <button (click)="openDialog()" mat-menu-item *ngIf="isLoggedInUser">
          Logout
        </button>
      </mat-menu>

      <button routerLink="/cart" class="space-between-tabs" mat-icon-button>
        <span [matBadge]="totalCartItems">
          <mat-icon fontSet="material-icons-outlined">shopping_cart</mat-icon>
        </span>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #logoutModal>
  <div class="px-5 py-4">
    <h4 class="mb-5">Are you sure you want to logout?</h4>

    <div class="d-flex justify-content-end">
      <button
        class="px-5 space-between-tabs btn btn-outline-primary rounded mx-1"
        (click)="logout()"
      >
        Logout
      </button>

      <button mat-dialog-close class="px-4 btn btn-primary rounded mx-1">
        Cancel
      </button>
    </div>
  </div>
</ng-template>
