.navbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  position: fixed;

  color: white;
  background-color: transparent;

  &__logo {
    font-size: 45px;
    font-family: Fanwood-Italic;
    font-weight: 500;

    color: #9ea061;
  }

  &__routes {
    display: flex;
    justify-content: end;
    align-items: center;

    span {
      font-size: 17px;
      font-weight: 600;

      position: relative;
      transition: color 0.3s;

      cursor: pointer;

      &:hover,
      &.active {
        color: var(--primary-color);
      }

      &::after,
      &.active::after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -10px;
        left: 0%;
        background-color: var(--primary-color);
        transition: width 0.4s ease;
      }

      &:hover::after,
      &.active::after {
        width: 30px;
      }
    }

    .authentication_dropdown {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        height: 18px;
        border: 1px solid #eaeaea;
        transform: translateY(-50%);
      }
    }
  }

  .space-between-tabs {
    margin: 0 8px;
  }
}

.defaultNavbar {
  color: #484848;
  background-color: white;
}

.mat-badge .mat-badge-content {
  font-size: 12.5px;

  right: -3px;
  top: -15px;

  background-color: var(--primary-color);
}

@media (max-width: 820px) {
  .row-container {
    display: block !important;
  }

  #navbar {
    color: #484848;
    background-color: white;
    padding: 10px 0 30px !important;
  }

  #navbar .navbar__logo {
    margin-bottom: 0 !important;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  #navbar .navbar__routes {
    justify-content: center !important;
  }

  #navbar .navbar__routes {
    span,
    .authentication_dropdown,
    button[routerLink="/cart"] {
      font-size: 15px;
      margin: 0 5px;
    }

    .vertical_divider {
      display: none;
    }
  }
}

@media (max-width: 450px) {
  .mat-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
    line-height: 18px;
  }

  .mat-mdc-icon-button {
    padding: 0 !important;
  }

  .space-between-tabs {
    margin: 0 2px !important;
  }
  #navbar .navbar__routes {
    span,
    .authentication_dropdown,
    button[routerLink="/cart"] {
      font-size: 11px;
    }
  }

  .mat-badge .mat-badge-content {
    right: 6px;
    top: -15px;

    background-color: var(--primary-color);
  }
}
