<div class="my-5">
  <h2 class="mb-5 text-center">Explore Our Top Categories</h2>

  <div class="px-4 mx-auto">
    <p-carousel
      [value]="categories"
      [numVisible]="3"
      [numScroll]="3"
      [showNavigators]="true"
    >
      <ng-template pTemplate="category" let-category>
        <mat-card
          (click)="viewCategoryBooks(category)"
          class="bg-transparent border-0 mx-2 position-relative"
          appearance="outlined"
        >
          <img [src]="category.imgSrc" height="300px" />
          <h4 class="text-center mt-3 title">{{ category.title }}</h4>
        </mat-card>
      </ng-template>
    </p-carousel>
  </div>
</div>
