.title {
  position: absolute;

  left: 0;
  width: 200px;
  bottom: 0px;

  padding: 15px 0;
  background-color: white;
  color: black;

  label {
    font-size: 14px;
    font-weight: 500;
    color: var(--light-orange-color);
  }
}
